DATABASE_URL="postgresql://postgres.project-ref:your-password@aws-1-region.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres:your-password@db.project-ref.supabase.co:5432/postgres"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
